<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>

    <target name="Console" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true:padding=-5}|${logger}|${message}|${exception:format=tostring}"> </target>

    <target name="LogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File"
                fileName="${appsetting:Key=LogFilesDirectory:ReplaceBaseDir=true}\${projectName}.log"
                archiveFileName="${appsetting:Key=LogFilesDirectory:ReplaceBaseDir=true}\archives\${projectName}.{#####}.log"
                archiveAboveSize="102400"
                archiveNumbering="Sequence">
          <layout xsi:type="CsvLayout">
            <!-- CSV Options -->
            <delimiter>Pipe</delimiter>
            <column layout="${longdate}" />
            <column layout="${projectName}" />
            <column layout="${machinename}" />
            <column layout="${level:uppercase=true:padding=-5}" />
            <column layout="${ndc:padding=-4}" />
            <column layout="${logger}" />
            <column layout="${message}" />
            <column layout="${exception:format=tostring}" />
          </layout>
        </target>
        <!-- Note: Can't use archiving at the moment because the LogEntries windows service keeps a lock on the file. If archiving is 
             attempted while file lock is held, seems NLog just blocks forever and never writes anything. Don't intend using LogEntries forever so will revisit
            archiveFileName="${basedir}/logs/archives/log.{##}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
        -->
      </target>
    </target>

    <target name="AlertsLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${appsetting:Key=LogFilesDirectory:ReplaceBaseDir=true}\${projectName}.Alerts.log">
          <layout xsi:type="CsvLayout">
            <!-- CSV Options -->
            <delimiter>Pipe</delimiter>
            <column layout="${longdate}" />
            <column layout="${projectName}" />
            <column layout="${machinename}" />
            <column layout="${level:uppercase=true:padding=-5}" />
            <column layout="${ndc:padding=-4}" />
            <column layout="${logger}" />
            <column layout="${message}" />
            <column layout="${exception:format=tostring}" />
          </layout>
        </target>
        <!-- Note: Can't use archiving at the moment because the LogEntries windows service keeps a lock on the file. If archiving is 
             attempted while file lock is held, seems NLog just blocks forever and never writes anything. Don't intend using LogEntries forever so will revisit
            archiveFileName="${basedir}/logs/archives/log.{##}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
        -->
      </target>
    </target>

    <target name="Email" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="RetryingWrapper" retryCount="120" retryDelayMilliseconds="500">
        <target name="buffer" xsi:type="LevelTriggeredBufferingWrapper">
          <BufferSize>10</BufferSize>
          <TriggerLevel>Warn</TriggerLevel>
          <target name="Mail"
                  xsi:type="Mail"
                  subject="[${environmentName}] ${level} in ${projectName}"
                  html="true"
                  encoding="utf-8"
                  header="
&lt;p&gt;
Logged in ${projectName} on ${machinename} :
&lt;/p&gt;
&lt;pre style='font-size:10px; font-family:consolas'&gt;"
                  body="${longdate} | ${level:uppercase=true:padding=-5} | ${ndc:padding=-4} | ${logger} | ${message} | ${exception:format=tostring}${newline}"
                  footer="
&lt;/pre&gt;
&lt;p style='font-size:12px'&gt;
&lt;strong&gt;
${message}${newline}
&lt;/strong&gt;
&lt;/p&gt;
&lt;pre style='font-size:12px; font-family:consolas'&gt;
&lt;strong&gt;
${exception:format=tostring}${newline}
&lt;/strong&gt;
&lt;/pre&gt;


&lt;p&gt;
Thanks, &lt;br /&gt;
The Bird Watcher.
&lt;/p&gt;
"
                   to="${appSetting:AlertToEmail}"
                   from="${appSetting:AlertFromEmail}"
                   smtpUsername="${appSetting:AlertSmtpUserName}"
                   smtpPassword="${appSetting:AlertSmtpPassword}"
                   smtpAuthentication="Basic"
                   enableSsl="true"
                   smtpServer="smtp.gmail.com"
                   smtpPort="587" />
        </target>
      </target>
    </target>
  </targets>
</nlog>
