<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="CloudBird.Logging"/>
  </extensions>

  <variable name="projectName" value="LogGenerator"/>
  <variable name="environmentName" value="${appSetting:OctopusEnvironmentName}" />

  <include file="NLog.Targets.config" />

  <rules>
    <logger name="*" minlevel="Debug" writeTo="LogFile" />
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>
</nlog>
